<h1>Listing contacts</h1>

<table border = '0'>
  <tr>
    <th>编号</th>
    <th>姓名</th>
    <th>电话</th>
    <th>留言内容</th>
    <th>留言时间</th>
    <th>是否处理</th>
    <th>处理备注</th>
    <th>处理人</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.id %></td>
    <td><%= contact.name %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.content %></td>
    <td><%= contact.created_at.strftime("%Y-%m-%d %H:%M") %></td>
		<td><%= contact.is_processed %></td>
    <td><%= contact.note %></td>
    <td><%= contact.processed_by %></td>
    <td><%= link_to '详细', contact %></td>
    <td><%= link_to '修改', edit_contact_path(contact) %></td>
    <td><%= link_to '删除', contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>