<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Enjoypicture</title> 
  <%= stylesheet_link_tag :all, :cache => true %>
  <%= javascript_include_tag :all, :cache => true %>
  <%= csrf_meta_tag %>
<script language = "javascript">
	$(document).ready(function(){
		//check input tag
		$("#name").focus(function(){
			if ($(this).attr('value') == "Describe your feelings on this picture"){
				$(this).attr('value', '');
			}});
	});
</script>
</head>
<body>
<%=render :partial => 'layouts/header' %>

<div id ="article" class="page_margins">
<%= yield %>
</div>

<%=render :partial => 'layouts/footer' %>
<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-10508960-5']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>
</body>
</html>
